<html>

<head>
  <meta charset="UTF-8">
  <title>04_v-bind给属性赋值</title>
  <style type="text/css">
    .red {
      background-color: red;
    }

    .green {
      background-color: yellowgreen;
    }

    .hotpink {
      background-color: hotpink;
    }

    .big {
      font-size: 30px;
    }
  </style>
</head>

<body>
  <!-- 留坑 -->
  <div id="app"></div>

  <script type="text/javascript" src="./vue.js"></script>
  <script type="text/javascript">
    var myTemplate = `
            <div>
            <button v-for=" (item,index) in arr" @click="aa(index)">点击第{{index}}按钮</button>
              
              
              <div v-for=" (item,index) in lastarr">
              索引{{index}}
              ++++{{item}}++++
              </div>
              


            </div>
            

        `;
    new Vue({
      el: '#app',
      template: myTemplate,
      data() {
        return {
          arr: [{ name: "数组中的第零项" }, { name: '数组中的第一项' }, { name: '数组中的第二项' }],
          lastarr:[],
        };
      },
      methods:{
        aa(index){

          var sj = Math.random() * 100;
          this.arr[index].id = sj
          var newarr = cloneObj(this.arr)
          console.log(newarr[0].a, this.arr[0].a);

          this.lastarr.push(newarr[index])
          console.log(this.lastarr);

          //深拷贝方法
          function cloneObj(obj) {
            var str, newobj = obj.constructor === Array ? [] : {};
            if (typeof obj !== 'object') {
              return;
            } else if (window.JSON) {
              str = JSON.stringify(obj), //系列化对象
                newobj = JSON.parse(str); //还原
            } else {
              for (var i in obj) {
                newobj[i] = typeof obj[i] === 'object' ?
                  cloneObj(obj[i]) : obj[i];
              }
            }
            return newobj;
          };
           
          

  

        }
      }

    })

  </script>
  
</body>

</html>